*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'M PLUS 2', sans-serif;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
   
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    transition: 0.5s;
}

/* Imagen Body */

.Clase-Cliente{
    background-image: url("../img/fondo-login.jpg");
}

.Clase-Encargado{
    background-image: url("../img/fondo-encargado.jpg");
}

/* Cierre Imagen Body */

.father-class{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#form-container{
    border-radius: 5%;
    margin: 20px;
    overflow-y: auto;
    background-color: rgb(250, 250, 250);
}

#form-container::-webkit-scrollbar{
    opacity: 0;
    width: 0px;
    height: 0px;
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px grey solid;
    width: 100%;
}

#dynamic-title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%
}

#reg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    color: black;
    width: 200px;
}

#free{
    color: #16A6E4;
    font-size: 25px;
    font-weight: bold;
}

.logo{
    width: 80px;
    height: 80px;
    margin: 5px 10px;
}

.title-arrow{
    position:relative;
    margin-left: 10px;
    margin-right: 10px;
}

.material-symbols-outlined{
    font-size: 30px;
    color: #16A6E4;
    font-weight: 900;
}

.title-title{
    font-size: 25px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

#config1, #config2{
    display: flex;
    width: 90px;
    font-size: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bold{
    font-weight: bold;
    color: #000000;
}

.no-bold{
    font-weight: lighter;
    color: #000000a9;

}

/* Switch Cliente-Encargado */

.Toogle-Container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

/* The switch - the box around the slider */
.switch {
font-size: 10px;
position: relative;
display: inline-block;
width: 60px;
height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
inset: 0;
background: #16A6E4;
border-radius: 50px;
transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-left: 2px;
  height: 15px;
  width: 15px;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #5bb2ca;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #5bb2ca;
}

.switch input:checked + .slider:before {
  transform: translateX(41px);
}

/* Cierre Switch */

.row{
    display: flex;
    justify-content: space-evenly;
}

.txt_field, .txt_field-correct{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    position: relative;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 3px solid grey;
}

.txt_field-correct{
    border-bottom: 3px #16A6E4 solid;
}

.txt_field input, .txt_field select, .txt_field-correct select{
    height: 50px;
    margin-top: 7px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

select{
    width: 200px;
    height: 50px;
}

.tlabel, .tlabel-incorrect, .tlabel-correct{
    position: absolute;
    transform: translateY(-50%);
    top: 55%;
    left: 0px;
    pointer-events: none;
    transition: 0.2s;
}

.tlabel{
    color: rgba(0, 0, 0, 0.637);
}

.tlabel-incorrect{
    top: 5px;
    color: rgba(255, 0, 0, 0.637);
}

.tlabel-correct{
    top: 5px;
    color: #16A6E4;
}

.txt_field input{
    opacity: 0.637;
}


.date{
    border-bottom: 2px #16A6E4 solid;
}

input[type="date"]{ 
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

input[type="date"]::-webkit-datetime-edit {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 45%;
    text-align: left;
    
}

input[type="date"]::-webkit-calendar-picker-indicator{
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25px;
    height: 25px;
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field, 
input[type="date"]:in-range::-webkit-datetime-edit-month-field, 
input[type="date"]:in-range::-webkit-datetime-edit-day-field, 
input[type="date"]:in-range::-webkit-datetime-edit-text{
    z-index: -1;
    color: transparent;
    padding: 0;
}

.barBottom{
    position: absolute;
    float: left;
    background-color: #16A6E4;
    margin-top: 50px;
    margin-right: 5000px;
    width: 200px;
    color: #16A6E4;
}

.txt_field span::before{
    content: '';
    position: absolute;
    margin: 0px;
    border: 0px;
    top: 57px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.1s;
}

.span:before{
    background-color: grey;
}

.span-incorrect:before{
    background-color: rgba(255, 0, 0, 0.637);
}

.span-correct:before{
    background-color: #16A6E4;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: 5px;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

#footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#footer-container #submit{
    width: 33%;
    height: 45px;
    margin: 10px;
    font-size: 16px;
    background: #16A6E4;
    border-radius: 10px;
    cursor: pointer;
}

.container-check{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
}
   
.container {
    display: inline-block;
    position: relative;
    width: 12px;
    margin:5px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-radius: 5px;
}
   
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    padding: 0px;
    height: 12px;
    width: 12px;
    background-color: #8d8d8d88;
    border-radius: 5%;
}

.container input:checked ~ .checkmark {
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-image: linear-gradient(45deg, rgb(14, 124, 171) 0%, #16A6E4 100%);
}
   
.container input ~ .checkmark {
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 0.5px 0.5px 0px rgb(183, 183, 183);
}
   

.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
}
   

.container input:checked ~ .checkmark:after {
    opacity: 1;
    transition: all 0.2s;
}
   

.container .checkmark:after {
    left: 4px;
    top: 2.2px;
    width: 2.5px;
    height: 4.5px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
}

#checkbox-title{
    text-align: justify;
    font-size: 13px;
    margin-right: 20px;
}

.link{
    padding-left: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #16A6E4;
}

.txt_field select option{
    color: rgba(0, 0, 0, 0.637);
}

.select-correct{
    color: #16A6E4;
}

.select-not{
    color: rgba(0, 0, 0, 0.637);
}

#login{
    margin-bottom: 10px;
}
.txt_field input, .txt_field select, .txt_field label, #DocType, #Sex, .tlabel{
    transition: 0.2s;
}

@media only screen and (min-width: 501px) {
    .text, .txt_field select, .txt_field-correct select, .txt_field label, #DocType, #Sex, .tlabel, .txt_field-correct{
        width: 200px;
        font-size: 16px;
    }
    #date::-webkit-calendar-picker-indicator{
        padding-left: 175px;
        width: 25px;
        height: 25px;
    }
    #checkbox-title, #login{
        font-size: 13px;
    }
    .title-title{
        font-size: 25px;
    }
    #reg{
        font-size: 25px;
    }
    .logo{
        width: 80px;
        height: 80px;
    }
    #config1, #config2{
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .txt_field-correct, .text, .txt_field select, .txt_field-correct select, .txt_field label, #DocType, #Sex, .tlabel, input[type="date"]::-webkit-datetime-edit {
        width: 150px;
        font-size: 12px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator{
        padding-left: 125px;
        width: 18.7px;
        height: 18.7px;
    }
    .txt_field input, .txt_field select, .txt_field-correct select{
        height: 37.5px;
    }
    .txt_field span::before{
        top: 45px;
    }
    #checkbox-title, #login{
        font-size: 11px;
    }
    #footer-container #submit{
        height: 35px;
    }
    .title-title{
        width: 52%;
        font-size: 26px;
    }
    #reg{
        width: 120px;
    }
    #reg, #free{
        font-size: 20px;
    }
    .logo{
        width: 70px;
        height: 70px;
    }
    #config1, #config2{
        font-size: 12px;
    }
}

@media only screen and (max-width: 370px) {
    .title-title{
        font-size: 16px;
    }
    .txt_field-correct, .text, .txt_field select, .txt_field-correct select, .txt_field label, #DocType, #Sex, .tlabel, input[type="date"]::-webkit-datetime-edit {
        width: 100px;
        font-size: 8px;
    }    
    input[type="date"]::-webkit-calendar-picker-indicator{
        padding-left: 75px;
        width: 12.5px;
        height: 12.5px;
    }
    .txt_field input, .txt_field select, .txt_field-correct select{
        height: 25px;
    }
    .txt_field span::before{
        top: 32px;
    }
    #checkbox-title, #login{
        font-size: 10px;
    }
    #footer-container #submit{
        height: 30px;
    }
    .title-title{
        width: 52%;
        font-size: 26px;
    }
    #reg, #free{
        font-size: 15px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    #config1, #config2{
        font-size: 10px;
    }
}
